.container {
    box-sizing: border-box;
    background-color: #f7f3ee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 24px;

    @media (max-width: 520px) {
        box-sizing: content-box;
        justify-content: flex-start;
        min-height: 100vh;
        height: auto;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    button {
        &:hover {
            cursor: pointer;
        }
    }
}

.light {
    transition: background-color 0.5s;
}

.dark {
    background-color: black;

    .description {
        h1 {
            visibility: hidden;
        }
        h2 {
            color: white;
        }
    }

    .buttons {
        visibility: hidden;
    }

    h1 {
        visibility: hidden;
    }
}
