.container {
    box-sizing: border-box;
    background-color: #f7f3ee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 24px;

    @media (max-width: 520px) {
        box-sizing: content-box;
        justify-content: flex-start;
        min-height: 100vh;
        height: auto;
    }
}

.description {
    transition: 0.5;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    button {
        &:hover {
            cursor: pointer;
        }
    }
}

.light {
    transition: background-color 1s;

    .buttons {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s;
    }

    h3 {
        opacity: 0;
    }
}

.dark {
    background-color: black;
    transition: background-color 1s;

    .description {
        position: relative;

        h1 {
            visibility: hidden;
        }
        h2 {
            color: white;
            transition: color 1s;
        }
        h3 {
            opacity: 1;
            transition: opacity 2s ease-out 0.5s;
            position: absolute;
            top: 120px;
            left: 164px;
        }
    }

    .buttons {
        visibility: hidden;
        opacity: 0;
    }

    h1 {
        visibility: hidden;
    }
}
