.container {
    box-sizing: border-box;
    background-color: #f7f3ee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 24px;
    padding-top: 100px;

    @media (max-width: 520px) {
        justify-content: flex-start;
        height: auto;
        padding: 7%;
    }

    &.dark {
        height: 100vh;
        overflow: hidden;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    button {
        &:hover {
            cursor: pointer;
        }
    }
}

.light {
    transition: background-color 2s;

    .description {
        opacity: 1;
        transition: opacity 1s ease-in 1s;
    }

    .buttons {
        opacity: 1;
        transition: opacity 1s ease-in 1s;
    }
}

.dark {
    background-color: black;
    transition: background-color 2s;

    .description {
        opacity: 0;
        transition: opacity 1s;
    }

    .buttons {
        opacity: 0;
        transition: opacity 1s;
    }
}
